{{template "base" .}}
{{define "title"}}
    Password is confirmed
{{end}}
{{define "comment"}}
    Dear {{.Snippet.Username}}! Your password is confirmed!
{{end}}
{{define "buttontext"}}
    Profile
{{end}}
{{define "link"}}
    https://localhost:4200/login/profile
{{end}}
{{define "commentifwrong"}}
    You can set additional info about yourself on your profile page.
{{end}}