<app-card data-testid="card-categories">
  <div class="w-full flex flex-wrap px-4">
    <form [formGroup]="categoriesForm" (ngSubmit)="onSave()" class="w-full">
      <div class="flex flex-column w-full">
        <h3>{{'settings.categories.income' | transloco}}</h3>
        <app-categories-list formControlName="income" data-testid="app-categories-income"></app-categories-list>
      </div>
      <div class="flex flex-column w-full">
        <h3>{{'settings.categories.expenses' | transloco}}</h3>
        <app-categories-list formControlName="expenses" data-testid="app-categories-expenses"></app-categories-list>
      </div>
      <div class="flex flex-column w-full">
        <h3>{{'settings.categories.credits' | transloco}}</h3>
        <app-categories-list formControlName="credits" data-testid="app-categories-credits"></app-categories-list>
      </div>
      <div class="flex justify-content-start w-full py-4">
        <button pButton label="Save" class="p-button" icon="pi pi-save" type="submit" data-testid="settings-store"></button>
      </div>
    </form>
  </div>
</app-card>
