<div class="flex align-items-center justify-content-center w-full p-3 w-12">
  <div class="flex align-items-center justify-content-center w-full p-3 w-12 lg:w-4 sm:w-12">
    <app-card header="{{'payment.unsubscribe.title' | transloco}}">
      <div class="card flex">
        {{'payment.unsubscribe.thank-you' | transloco}}
      </div>
      <div class="flex align-items-center w-full gap-2 my-5 text-2xl font-semibold">
        <div><i class="pi pi-check-circle" style="font-size: 2em; color: green;"></i></div>
        <div>{{'payment.unsubscribe.message' | transloco}}</div>
      </div>
      <div>
        <p>{{'payment.unsubscribe.result' | transloco}}</p>
        <p>{{'payment.unsubscribe.contact-us' | transloco}}</p>
      </div>
      <div>
        <a pButton type="button" label="{{'payment.back-to-main-page' | transloco}}" icon="pi pi-home" routerLink="/user"></a>
      </div>
    </app-card>
  </div>
</div>
