body {
  font-family: var(--font-family);
}

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-header {
  flex-grow: 0;
}

.layout-content {
  flex-grow: 1;
  overflow: auto;
}
