<div class="flex flex-wrap h-full justify-content-center align-items-center" data-testid="landing-page">
  <div class="py-6 text-center flex flex-column gap-3 justify-content-center align-items-center">
    <div class="surface-900 text-0 p-2 mx-auto"style="max-width: 250px; border-radius: 40px">🔥 {{'general.take_control_of_your_finances' | transloco }}</div>
    <div class="text-6xl text-900 font-bold">{{ 'general.budget_tracking' | transloco }}</div>
    <div class="text-6xl text-primary font-bold">{{ 'general.full_functionality_for_free' | transloco }}</div>
    <div class="w-full flex justify-content-center align-items-center">
      <p-button label="Get Started" routerLink="/user/accounts" class="p-button-outlined p-3 font-bold w-10rem"></p-button>
    </div>
    <div class="w-full p-2 flex flex-row justify-content-center align-items-center">
      <img src="assets/images/landing/accounts.png" alt="Image" class="w-6 border-1 border-white shadow-2 p-4 bg-white border-round-2xl" data-testid="landing-image"/>
    </div>
  </div>
</div>
